.sidebar{
    position: fixed;
    left: 0;
    bottom: 0px;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 200;
 
    
}
.sidebar-link{
    background-color: rgb(252, 252, 252);
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(228, 227, 227);
}
.sidebar-link img{
    height:30px;
    width: 50x;
    margin-bottom: 2px;

}
.sidebar-link div{
    font-family: roboto,Arial;
    font-size: 10px;

} 